* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.conteiner {
  display: flex;
  z-index: 2;
  position: relative;
}
.conteiner_user {
  display: flex;
  z-index: 2;
  position: relative;
}

.userCard {
  max-width: 292px;
  width: 100%;
  min-width: 250px;
  margin: 20px auto;
  background-color: rgb(232, 232, 232);
  border-radius: 20px;
  -webkit-box-shadow: 10px 23px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 23px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 23px 25px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

img {
  width: 100px;
  border-radius: 50%;
  display: inline-flex;
  position: relative;
}

.info {
  background-color: rgb(233, 233, 233);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.user {
  background-color: rgb(255, 255, 255);
  background-position: center;
  width: 292px;
  height: 220px;
  padding: 20px;
  text-align: center;
}

.bg {
  position: absolute;
  z-index: 1;
  left: -10px;
  top: -10px;
  right: -10px;
  bottom: -10px;
  filter: blur(6px);
  background: url(/assets/img/bg.jpg) no-repeat center;
  background-size: cover;
}

.fastar {
  color: rgb(203, 203, 203);
  display: flex;
  justify-content: center;
}

.it {
  padding: 15px;
  color: rgb(41, 41, 41);
}

.hour {
  color: rgb(135, 135, 135);
  font-weight: 500;
}

.loc {
  display: inline-flex;
  font-size: 15px;
  color: rgb(135, 135, 135);
  padding-top: 10px;
  font-weight: 500;
}

.infovlad {
  font-size: 13px;
  color: rgb(135, 135, 135);
  padding: 10px;
  font-weight: 600;
  max-height: 76px;
  overflow: hidden;
}

.viev {
  background-color: aliceblue;
  color: rgb(37, 77, 179);
  font-weight: 800;
  border: 1px rgb(37, 77, 179) solid;
  border-radius: 5px;
  padding: 10px 45px;
  margin-bottom: -5px;
}

.make {
  background-color: rgb(37, 77, 179);
  color: rgb(195, 221, 221);
  font-weight: 800;
  border: none;
  border-radius: 5px;
  padding: 11px 30px;
}

h3 {
  padding-top: 20px;
  color: rgb(41, 41, 41);
}

.fa-location-dot {
  color: rgb(135, 135, 135);
  display: inline;
}

.earth1 {
  color: rgb(17, 117, 17);
  display: inline;
  font-size: 12px;
}
.status {
  color: rgb(135, 135, 135);
  font-size: 13px;
  display: inline;
}
.earth {
  color: grey;
  display: inline;
  font-size: 12px;
}

.fastar1 {
  color: rgb(237, 204, 42);
  display: flex;
  justify-content: center;
}
