* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  background-image: url(./img/bg.jpg);
}

.flex-parents {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-child1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15.625em;
  height: 31.25em;
  text-align: center;
  border-radius: 1.25em;
  -webkit-box-shadow: 14px 16px 20px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 16px 20px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 16px 20px -1px rgba(0, 0, 0, 0.75);
}

.flex-child2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15.625em;
  height: 31.25em;
  text-align: center;
  border-radius: 1.25em;
  -webkit-box-shadow: 14px 16px 20px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 16px 20px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 16px 20px -1px rgba(0, 0, 0, 0.75);
  margin-left: 2.5em;
}

.userCard {
  border-radius: 1.25em;
  background-color: aliceblue;
}

.infovlad {
  margin: 0.4em;
  overflow: hidden;
  max-height: 4.8em;
}

.infotimof {
  margin: 0.4em;
  overflow: hidden;
  max-height: 4.8em;
}

.user {
  height: 220px;
  margin-top: em;
}

img {
  width: 1oopx;
  height: 100px;
  border-radius: 50%;
  margin-top: 1em;
}

.fastar {
  color: rgb(109, 109, 109);
  display: flex;
  justify-content: center;
}

.it {
  padding: 0.93em;
  color: rgb(41, 41, 41);
}

.hour {
  color: rgb(135, 135, 135);
  font-weight: 500;
}

.loc {
  display: inline-flex;
  font-size: 0.93em;
  color: rgb(135, 135, 135);
  padding-top: 0.625em;
  font-weight: 500;
  margin-bottom: 0.625em;
}

.viev {
  background-color: aliceblue;
  color: rgb(37, 77, 179);
  font-weight: 800;
  border: 1px rgb(37, 77, 179) solid;
  border-radius: 0.313em;
  padding: 10px 45px;
}

.make {
  background-color: rgb(37, 77, 179);
  color: rgb(196, 229, 229);
  font-weight: 800;
  border: none;
  border-radius: 0.313em;
  padding: 11px 30px;
  margin-top: 0.625em;
}

h3 {
  padding-top: 1.25em;
  color: rgb(41, 41, 41);
}

.fa-location-dot {
  color: rgb(135, 135, 135);
  display: inline;
}

.earth1 {
  color: rgb(17, 117, 17);
  display: inline;
  font-size: 0.75em;
}
.status {
  color: rgb(135, 135, 135);
  font-size: 0.813em;
  display: inline;
}
.earth {
  color: grey;
  display: inline;
  font-size: 0.75em;
}

.fastar1 {
  color: rgb(237, 204, 42);
  display: flex;
  justify-content: center;
}

.viev:hover{
  cursor: pointer;
}

.make:hover{
  cursor: pointer;
}